# Environments
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Build artifacts
CMakeFiles
build
CMakeLists.txt.user
*.pro.user*


