#songInfoContainer {
        background-color: #000000;
        border-top: 4px solid #26253c;
        border-right: 4px solid #6d6d7f;
        border-bottom: 4px solid #6d6d7f;
        border-left: 4px solid #26253c;
}

#songInfoLabel {
        font-size: 24pt;
}
