#songInfoContainer {
        background-color: #000000;
        border-top: 3px solid #26253c;
        border-right: 3px solid #6d6d7f;
        border-bottom: 3px solid #6d6d7f;
        border-left: 3px solid #26253c;
}

#songInfoLabel {
        font-size: 18pt;
}
